extends _layout.pug

block content
  header
    .content
      .logo 
        img(src=`${path.public}statics/icons/icon-frontend.svg`)
        span Frontker
  main
    .content
      h1 My title
      p Lorem ipsum ss
      img(src=`${path.public}statics/imgs/gulp.png`, alt="")
      img(src=`${path.public}statics/imgs/assets.png`, alt="")

  footer
    .content
      .logo Frontker