@font-face
  font-family 'Chopsic'
  font-style normal
  src url('../fonts/Chopsic-font/Chopsic.ttf') format("truetype"), \
      url('../fonts/Chopsic-font/Chopsic.woff') format("woff");

@font-face
  font-family 'AnotherFlight'
  font-style normal
  src url('../fonts/another-flight-font/Another-Flight.ttf') format("truetype"), \
      url('../fonts/another-flight-font/Another-Flight.woff') format("woff");      