@font-face
  font-family 'Tagesschrift'
  src url('../fonts/NanumGothic-Regular/NanumGothic-Regular.ttf')

body
  font-family 'Tagesschrift'
  background white

.hide
  display none

.modal
  min-height 200px
  min-width 200px
  width 300px
  border 1px solid #ddd
  position absolute
  left 0
  top 50%
  right 0
  margin 0 auto
