extends _layout.pug

block content
  header
    .content
      .logo 
        svg(width="32" height="24" viewBox="0 0 32 24")
          path(fill-rule="evenodd" clip-rule="evenodd" d="M31.6565 11.058L24.1075 2.41392C23.6265 1.86192 22.8265 1.86192 22.3435 2.41392C21.8855 2.93892 21.8855 3.77295 22.3435 4.29795L29.0695 12L22.3435 19.702C21.8855 20.227 21.8855 21.0609 22.3435 21.5859C22.8265 22.1379 23.6265 22.1379 24.1075 21.5859L31.6565 12.942C32.1155 12.417 32.1155 11.583 31.6565 11.058ZM9.6565 2.41379C9.1745 1.86179 8.3745 1.86179 7.8925 2.41379L0.3435 11.0578C-0.1145 11.5828 -0.1145 12.4169 0.3435 12.9419L7.8925 21.5858C8.3745 22.1378 9.1745 22.1378 9.6565 21.5858C10.1145 21.0608 10.1145 20.2269 9.6565 19.7019L2.9305 11.9999L9.6565 4.29783C10.1145 3.77283 10.1145 2.93879 9.6565 2.41379ZM18.4417 0.0364741C17.8737 -0.115526 17.2887 0.221404 17.1357 0.789404L11.2757 22.6584C11.1237 23.2264 11.4617 23.8105 12.0307 23.9635C12.5997 24.1165 13.1847 23.7784 13.3377 23.2104L19.1967 1.3425C19.3487 0.773504 19.0107 0.189474 18.4417 0.0364741Z" fill="#2a98d4")
        span Frontker
  main
    .content
      h1 My title
      p Lorem ipsum ss
      img(src=`${path.public}statics/imgs/gulp.png`, alt="")
      img(src=`${path.public}statics/imgs/assets.png`, alt="")

      p info server http://localhost:4000
      iframe(src=`http://localhost:4000`, frameborder="0")

  footer
    .content
      p Frontend tools to build websites quickly
