<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Demo
    link(rel="stylesheet", href=PATH_PUBLIC + "statics/css/index.css")
  body
    header
      .content
        .logo LOGO
    main
      .content
        h1 My title
        p Lorem ipsum
    footer
      .content
        .logo LOGO

    script(src=PATH_PUBLIC + "statics/js/index.js")
