*
	box-sizing border-box

wrapper($site-width = 70%)
	$site-margin = ((100% - $site-width) / 2)
	margin-left: $site-margin
	margin-right: $site-margin
	transition: margin 0.3s ease-out

column()
	display: inline
	float: left
	overflow: hidden    
